[Desktop Entry]
Name=GPU Frequency
Comment=Change how fast the Mali-G57 starts compositing
Exec=dc1-gpu-settings
Icon=org.gnome.Settings-display-symbolic
Terminal=false
Type=Application
StartupNotify=true
NoDisplay=false
OnlyShowIn=GNOME;
Categories=GNOME;GTK;Settings;HardwareSettings;X-GNOME-Settings-Panel;X-GNOME-DevicesSettings;
Keywords=GPU;Frequency;Mali;Panfrost;Performance;Smooth;Clock;Control;Center;Settings;
X-Purism-FormFactor=Workstation;Mobile;
