[Desktop Entry]
Type=Application
Name=DC-1 Orientation
Comment=Rotate the display from the MC3416 accelerometer
Exec=/usr/libexec/dc1-orientation
OnlyShowIn=GNOME;
X-GNOME-Autostart-Phase=Initialization
NoDisplay=true
