<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd">
<policyconfig>
  <vendor>Daylight DC-1</vendor>
  <vendor_url>https://github.com/denysvitali/dc-1-pmos</vendor_url>
  <action id="it.denv.dc1.gpufreq.apply">
    <description>Set DC-1 GPU frequency limits</description>
    <message>Authentication is required to change GPU frequency</message>
    <defaults>
      <!-- Single-user tablet: GPU frequency is not a privilege boundary.
           Alpine's polkit often fails to mark the GNOME session active,
           which would otherwise prompt on every slider move. -->
      <allow_any>yes</allow_any>
      <allow_inactive>yes</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/libexec/dc1-gpu-freq</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>
</policyconfig>
